.main-container{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 150px;
}
#create{
    width: 30vw;
    border: 0px solid black;
    align-items: center;
    text-align: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
    border-radius: 10px;
}
#create>form{
    width:80%;
    border: 0px solid green;
    margin: auto;

}
form>input,select{
    width:99%;
    height:50px;
    display: grid;
    padding-left: 20px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    margin-bottom: 20px;
    font-size: 14px;
    border: none;
    border-radius: 10px;

}
form>input:nth-child(1){
    width: 93.5%;
}
form>input:nth-child(2){
    width: 93.5%;
}
form>input:nth-child(3){
    width: 93.5%;
}
form>input:nth-child(4){
    width: 93.5%;
}
form select{
  
    padding: 15px;

}
 .sub{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    width: 90%;
    margin-left: 20px;
 }

body{
    text-align: center;
}
table{
    width: 70vw;
    margin: auto;
    border-collapse:collapse ;
   
  
}
table>thead{
    background-color: yellow;
    height: 3vw;
    font-size: 20px;
    text-align: center;


}
tbody>tr{
    height: 3vw;
    font-size: 16px;
    background-color: aquamarine;
    text-align: center;
   

}
td:hover{
    cursor: pointer;
    border: 1px solid black;

}
h1{
    display: inline-block;
    background-color: rgb(77, 182, 182);
    padding: 1vw;
    border-radius: 5px;
    
}
thead{
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}

#total-price{
   display: inline-block;
   padding: 2vw;
   padding-left: 3vw;
   padding-right: 4vw;
   background-color: white;
   border: 2px solid blue;
   border-radius: none;
   box-shadow: 10px 10px 20px .1px gray;
} 
.table-container{
   
    border-radius: 10px;
    text-align: end;
    box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
}


.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(78, 76, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    box-shadow: 0px 0px 10px 6px black;
    position: fixed;
    left: 0;
    top:0;
    
}
body{
    padding: 0px;
    background-color: rgb(213, 208, 208);
}
.sub:hover{
    cursor:pointer;
    border: 2px solid white;
}
@media (min-width:600px) and (max-width:1000px){
    .table-container{
        background-color: aqua;
        margin: auto;
    }
    
    th,td{
        font-size: 16px;
    }
    #create{
        width: 400px;
        margin-top: auto;
    }
    .main-container{
        flex-direction: column;
    }
    table{
        width: 93vw;
     
    }

}
@media(max-width:599px){
    th,td{
        font-size: 8px;
        height: 25px;
    }
    #create{
        width: 340px;
        margin: auto;
    }
    .main-container{
        flex-direction: column;
    }
    .table-container{
        width: 370px;
        margin: auto;
    }
    table{
        
        width: 100%;
        padding: 0px;
     
    }
    #total-price{
       font-size: 15px;
     } 

}

